@import '../../../styles/colors.scss';

.sectionContainer {
    background-color: rgb(235, 235, 235);
    border: 4px dashed red;
    // position: relative;
    // height: 1400px;
}

.backgroundContainer {
    background-color: #745a42;
    width: 100%;
    height: 100%;
}

.backgroundOverlay {
    background-image: url('../../../assets/images/browsemats.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 2;
}

.title {
    border: 2px solid blue;
    color: bisque;
    font-size: 24pt;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: auto 0;
    margin: 0;
}

.article {
    border: 4px solid purple;
    // margin-top: 20pt;
    // padding: 1em 0;
    // position: relative;
    // border: 3px solid red;
    // top: -260pt;
}

.carouselContainer {
    height: 200px;
    width: 100%;
    background-color: rgb(180, 133, 74);
    position: relative;
    // top: -32vh;
    // position: absolute;
    // top: 18vh;
    // left: 2.1vh;
}

.navList {
    // border: 2px solid blue;
    text-align: center;
    padding: 0;
}

.navListItem {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 0.9rem;
    color: #6a4421;
}

.navListItem:hover {
    color: rgb(219, 142, 54);
    cursor: pointer;
}

.infoContainer {
    margin-top: 1em;
}

.categoryTitle {
    color: #177eb9;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.materialsButtonContainer {
    text-align: center;
    padding: 0.5em 0;
}

.materialBrowserItemContainer {
    // border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    // text-align: center;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .backgroundContainer {
        background-image: url('../../../assets/images/browsemats.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 200px;
        position: relative;
    }
    .title {
        // margin: 0.4em 0 0 0;
    }
}

@media screen and (min-width: 375px) {
    // .carouselContainer {
    //     position: absolute;
    //     height: 220px;
    //     top: 19vh;
    //     left: 2.6vh;
    // }
    .title {
        font-size: 1.9rem;
        margin: 0.5em 0 0 0;
    }
    // .article {
    //     margin-top: 10pt;
    // }
}

@media screen and (min-width: 425px) {
    .title {
        font-size: 2rem;
        margin: 1em 0 0 0;
    }
    // .carouselContainer {
    //     // height: 270px;
    //     top: 16vh;
    //     left: 2.8vh;
    // }
}

@media screen and (min-width: 768px) {
    .backgroundContainer {
        height: 55vh;
    }
    .title {
        top: 10px;
        font-size: 2.5rem;
    }
    .materialBrowserItemContainer {
        flex-direction: row;
    }
    // .carouselContainer {
    //     max-width: 80%;
    //     top: 22vh;
    //     left: 11vh;
    // }
    .navListItem {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1024px) {
    .backgroundContainer {
        height: 60vh;
    }
    .title {
        font-size: 2.8rem;
        margin-top: 1.25em;
    }
    // .carouselContainer {
    //     max-width: 60%;
    //     top: 28vh;
    //     left: 34vh;
    // }
}

@media screen and (min-width: 1440px) {
    .backgroundContainer {
        height: 70vh;
    }
    .title {
        color: bisque;
        font-size: 3rem;
        margin-top: 1em;
        text-align: center;
    }
    // .carouselContainer {
    //     max-width: 60%;
    //     height: 320px;
    //     top: 23vh;
    //     left: 45vh;
    // }
    .article {
        margin-top: 20pt;
        padding: 1em 0;
    }
}

@media screen and (min-width: 2560px) {
    .backgroundContainer {
        height: 80vh;
    }
    .title {
        font-size: 5rem;
        text-align: center;
    }
    // .carouselContainer {
    //     max-width: 50%;
    //     height: 470px;
    //     top: 30vh;
    //     left: 70vh;
    // }
    .article {
        margin-top: 30pt;
        padding: 1em 0;
    }
}
