.sectionContainer {
    padding: 4em 2em;
    max-width: 1080px;
    margin: 0 auto;
}

// #region HEADER ==========================
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-15px);
    /* margin-top: 3em; */
}

.logo {
    width: 15%;
    margin-right: 0.5em;
}

.title {
    color: #104c83;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: 5pt;
    margin: 0 0 5pt 0;
}
// #endregion

// #region CONTENT SECTION ==========================
.contentContainer {
    padding-top: 2em;
}

// #region INFO SECTION ===
.infoSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'nav nav nav nav'
        'info info info info';
}

// #region NAV ===
.navContainer {
    width: 100%;
    grid-area: nav;
}

.navTitle {
    background-color: #355e9c;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: column;
}

.navItem {
    padding: 0.25em;
    font-weight: bold;
}

.navItem:first-child {
    margin-top: 0.25em;
}

.navItem:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
// #endregion

// #region DESCRIPTION & CARPORT IMAGE ===
.infoContainer {
    grid-area: info;
    width: 100%;
    padding-top: 1.5em;
}

// #region INFO IMAGE
.infoImageWrapper {
    // max-width: 600px;
    line-height: 0;
}

.infoImage {
    width: 100%;
}
// #endregion

.infoContentTitle {
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 1.2rem;
}

.infoContentDescription {
    line-height: 1.5;
    font-size: 0.9rem;
}
// #endregion
// #endregion
// #endregion

.quote {
    background-color: #355e9c;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}
// #endregion

@media screen and (min-width: 425px) {
    .title {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 2.2rem;
    }
    .logo {
        width: 11%;
    }
    .infoSection {
        grid-template-areas: 'nav nav info info info info info info';
        gap: 1em;
    }
    .infoContainer {
        padding-top: 0;
    }
    .navTitle {
        text-align: left;
        padding-left: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .sectionContainer {
        padding-top: 7em;
    }
    .infoContainer {
        max-width: 600px;
    }
    .title {
        font-size: 2.6rem;
    }
    .logo {
        max-width: 7%;
    }
}

@media screen and (min-width: 1440px) {
    .infoSection {
        grid-template-areas: 'nav nav info info info info info info';
    }
}
