$body-background-primary: rgb(255, 255, 255);
$default-dialog-header-backgroundColor: rgb(59, 80, 177);
$new-dialog-header-backgroundColor: rgb(34, 39, 109);
$edit-dialog-header-backgroundColor: rgb(109, 34, 80);

// LANDING
$navbar-background: #422a1a;
$landing-header-gradientTop: rgb(102, 74, 50, 0.9) 0%;
$landing-header-gradientMiddle: rgba(83, 91, 95, 0.9) 35%;
$landing-header-gradientBottom: rgba(17, 49, 71, 0.9) 100%;
