@import '../../../styles/colors.scss';

.sectionContainer {
    background: linear-gradient(rgb(235, 230, 226), rgba(237, 237, 237, 0.08));
    padding: 2em;
}

.title {
    margin: 0;
    padding: 0.5em 0;
    color: #753e16;
    font-weight: bold;
    text-align: center;
    font-size: 26pt;
}

// .storeClosedWrapper {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     gap: 16px;
//     background-color: rgb(153, 52, 66);
//     border-radius: 10pt;
//     padding: 1.5em;
// }

// .storeClosedMessage {
//     // border: 2px solid orange;
//     color: white;
//     font-weight: bold;
//     font-size: 1.25rem;
// }

@media screen and (min-width: 320px) {
    .title {
        font-size: 1.8rem;
    }
    .storeClosedMessage {
        font-size: 1rem;
    }
}

@media screen and (min-width: 425px) {
    .title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 2.1rem;
    }
}

@media screen and (min-width: 1024px) {
    .storeClosedWrapper {
        max-width: 900px;
        margin: 0 auto;
    }
    .title {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 2.9rem;
    }
}

@media screen and (min-width: 2560px) {
    .title {
        font-size: 4.5rem;
    }
    .storeClosedWrapper {
        max-width: 1280px;
    }
}
