@import '../../../../styles/colors.scss';

.materialItemContainer {
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.materialItemImage {
    border: 2px solid purple;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: auto;
}

.materialName {
    color: #a47350;
    font-weight: bold;
    text-align: center;
}

.materialDescription {
    line-height: 1.5;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .materialItemImage {
        width: 100%;
        max-width: 220px;
    }
}

@media screen and (min-width: 1024px) {
    .materialItemImage {
        width: 100%;
        max-width: 300px;
    }
}
